{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "AzureWebJobsStorage": "<storage-connection-string>",
    "ServiceBusConnectionString": "<your-service-bus-conn-string>",
    "Cosmos__ConnectionString": "<cosmos-connection-string>",
    "Cosmos__DatabaseId": "transactions-db",
    "Cosmos__ContainerId": "transactions"
  }
}
