name: Deploy All Function Apps

on:
  push:
    branches: [ main ]
    paths:
      - "TransactionFuncApp.*/**"
  workflow_dispatch:

jobs:
  deploy-transaction-api:
    uses: ./.github/workflows/deploy-transaction-api-func-app.yml
    secrets: inherit

  deploy-transaction-worker:
    needs: deploy-transaction-api
    uses: ./.github/workflows/deploy-transaction-worker-func-app.yml
    secrets: inherit
