name: Deploy Transaction Worker Func App (Worker Processor)

on:
  workflow_call:
  push:
    paths:
      - "TransactionFuncApp.Worker/**"
    branches:
      - main
  workflow_dispatch:

env:
  DOTNET_VERSION: "8.0.x"

jobs:
  build-and-deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Restore dependencies
        run: dotnet restore TransactionFuncApp.Worker/TransactionFuncApp.Worker.csproj

      - name: Build project
        run: dotnet build TransactionFuncApp.Worker/TransactionFuncApp.Worker.csproj --configuration Release

      - name: Publish project
        run: dotnet publish TransactionFuncApp.Worker/TransactionFuncApp.Worker.csproj -c Release -o publish_output

      - name: Deploy to Transaction Worker Func App
        uses: azure/functions-action@v1
        id: fa
        with:
          app-name: 'Transaction-Worker'
          package: ./publish_output/
